@charset "utf-8";//设置此项才能编译通过有中文的注释的scss文件
@import "Globalstyle.scss";//插入外部文件：全局样式
/*
Author:  前小端 
Author url: http://www.qianxiaoduan.com/
*/
$color:#059fda !default;//定义全局主色
$bj:#eee;//定义页面灰色背景
$width:1200px !default;//定义网站宽度
$banner:640px !default;//banner高度
$left:200px !default;//首页左边栏宽度
$n-left:200px !default;//内页左边栏宽度
$nav-num:8;//导航个数
$nav-bj:#777;//导航背景颜色
$tab-left-bj:#d5d5d5;//首页tab左侧背景颜色

//可重用代码块,通过@include xxx调用 
//css3动画过渡默认时间0.2s
@mixin hover($value:.2s){-webkit-transition: all $value;-o-transition: all $value;-moz-transition: all $value;transition: all $value;}
//单行超出隐藏
@mixin overflow{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
//css3三角形 lavue值为三角形的高 value1值为三角形高跟斜边一半的比值越大三角形越高
@mixin triangle-down($value:5px,$value1:1,$value2:#fff){border-top: $value solid $value2;width: 0;height: 0;border-left: $value/$value1 solid transparent;border-right: $value/$value1 solid transparent;z-index: 0;}
@mixin triangle-right($value:3px,$value1:1,$value2:#fff) {border-left: $value solid $value2;width: 0;height: 0;border-top: $value/$value1 solid transparent;border-bottom: $value/$value1 solid transparent;z-index: 0;}
//英文大写
@mixin en{text-transform: uppercase;}  
//仿京东before效果 
@mixin before{left: -120px;width: 80px;height: 300px;top: 0;position: absolute;content: "";
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
transform: skewx(-25deg);-o-transform: skewx(-25deg);-moz-transform: skewx(-25deg);-webkit-transform: skewx(-25deg);}
@mixin beforeh{left:100%;@include hover(1s);}

//边框动画效果1,通过js添加class属性调用
.border1{position: relative;z-index: 1;
    &:before,&:after{position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
    &:hover:before,&:hover:after{background-color: rgba(255, 0, 0, 0);content: '';z-index: -1;margin: -5%;box-shadow: inset 0 0 0 2px $color;}
    &:before {animation: border1-before 1s linear 1;}//infinite 无限循环  
    &:after {animation: border1-after 1s linear 1;} 
} 
@keyframes border1-before {
    0%{clip: rect(0px 218px 2px 218px);}
    50% {clip: rect(0px 218px 2px 0px);}
    100% {clip: rect(0px 218px 220px 0px);}
}
@keyframes border1-after {
    0%{clip: rect(218px 2px 220px 2px);}
    50% {clip: rect(218px 220px 220px 2px);}
    100% {clip: rect(0px 220.0px 220px 2px);}
} 


//部分全局样式
a{text-decoration:none;color:#444;
    &:hover{color: $color;}
}
.w-100{width: 100%;overflow: hidden;min-width: $width;}
.w-100b{width: 100%;overflow: hidden;min-width: $width;background: $bj;}
.n-100{width: 100%;overflow: hidden;letter-spacing:-3px; font-size:0;}
.w-1000{width: $width;margin: 0 auto;position: relative;
    &:after{content: "";clear: both;display: block}
}//内容宽度
.logo{float: left;width: 456px;height: 78px;padding: 15px 0;}
.tel{float: right;overflow: hidden;padding-top: 40px;
    p{float: left;font-size: 24px;color: $color;padding-top: 10px;}
}//页面顶部联系电话
.tel_l{float: left;padding-left: 30px;background: url(../images/td_06.jpg) no-repeat left center;padding-right: 15px;
    p{font-size: 14px;padding-top: 0;color: #444;float: none;line-height: 14px;}
    span{font-size: 20px;display: block}
}
.n-left{width: $n-left;float: left;padding-right: 10px;}//内页左侧
.n-right{width: $width -($n-left +10px);float: left;}//内页右侧

//标题部分
.h1{text-align: center;font-size: 30px;line-height: 40px;font-weight: normal;}//首页栏目标题
.h2{text-align: center;font-size: 16px;line-height: 25px;font-weight: normal;}//首页栏目下方栏目介绍标题
.h3{font-size: 16px;line-height: 35px;font-weight: normal;color: $color;font-weight: bold;}//首页子栏目标题
.h4{font-size: 16px;line-height: 16px;font-weight: normal;color: #a3a3a3;border-left: 2px solid #a3a3a3;padding-left: 10px;}//底部导航标题

//header部分
.header{width: $width;padding: 10px 0;overflow: hidden;margin: auto;}

//导航部分
.w-nav{width: 100%;background:$color;min-width:$width;overflow: hidden;}
.nav{width:$width;margin: auto;height: 50px;line-height: 50px;float: left;
    ul{
        li{float: left;position: relative;text-align: center;position: relative;
            a{font-size: 15px;width: 170px;display: block; color: #fff;@include hover(.3s);height:100%;}
            &:hover{background: #666;background: rgba(0,0,0,.3);}  
            &.this{background: #666;background: rgba(0,0,0,.3);}     
            ul{width: 100%;display: none;position: absolute;overflow: hidden;z-index: 9;background:$color;opacity: 0.8;filter: alpha(opacity=80);
                li{height: 40px;width: 100%;line-height: 40px;
                    a{height: 40px;width: 100%;}
                }
            }
        } 
    } 
}

.t-3{transform: translate(0, 200px);@include hover(.8s);opacity: 0;filter: alpha(opacity=0);}
.n-3r{transform: translate(200px, 0);@include hover(.8s);opacity: 0;filter: alpha(opacity=0);}
.n-3{transform: translate(-200px, 0);@include hover(.8s);opacity: 0;filter: alpha(opacity=0);}
.t-3h{transform: translate(0, 0);opacity: 1;filter: alpha(opacity=100);}
//案例部分
.al{display: block;float: left;width: 380px;position: relative;margin-top: 15px;margin-bottom: 15px;overflow: hidden;
    .al-s{width: 100%;height: 0;color: #fff;background: rgba(0,0,0,.5);position: absolute;top: 0;left: 0;display: block;text-align: center;font-size: 30px;font-weight:300;line-height: 140px;overflow: hidden;@include hover;}
    .al-x{width: 100%;height: 0;color: #fff;background: rgba(0,0,0,.5);position: absolute;bottom: 0;left: 0;display: block;overflow: hidden;@include hover;
        i{text-align:center;font-size: 50px;line-height: 80px;}
    }
    img{@include hover}
    &:hover{
        .al-s{height: 50%;}
        .al-x{height: 50%;}
        img{transform: scale(1.1,1.1);}
    }
}
//网站建设
.web-l{float: left;width: 298px;overflow: hidden;position: relative;
    &:before{cursor:pointer;position: absolute;content: "";
left: -200px;top: 0;width: 80px;height: 500px;
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
transform: skewx(-25deg);-o-transform: skewx(-25deg);-moz-transform: skewx(-25deg);-webkit-transform: skewx(-25deg);
}
    &:hover:before{left: 400px;@include hover(1s);}
}
.web-r{width: 288px;border: 1px solid #d6d6d6;float: left;height: 481px;@include hover;position: relative;
    &:hover{border: 1px solid $color;}
    .web-r-s{background: $color;color: #fff;font-size: 16px;display: inline-block;padding: 0 10px;}
    .i-s{width: 129px;margin:30px auto;height: 111px;background-image: url(../images/web.jpg);background-repeat: no-repeat;}
    div{padding: 0 15px;
        .p1{font-size: 18px;color: $color;padding-bottom: 10px;padding-top: 10px;height: 53px;overflow: hidden;}
        .p2{font-size: 15px;}
    }
    .jg{font-size: 16px;
        span{color: #da3b01;padding: 0 5px;}
    }
    .pj{
      i{font-size: 14px;color: #DA3B01;display: inline-block;}
      span{font-size: 15px;padding-left: 5px;}  
    } 
    .xf{position: absolute;bottom: 20px;padding: 0;}
}
.w1{background-position: 0 0;}
.w2{background-position: -129px 0;}
.w3{background-position: -258px 0;}
.w4{background-position: -387px 0;}
.w5{background-position: -516px 0;}
.w6{background-position: 0 -143px;}
.w7{background-position: -129px -143px;}
.w8{background-position: -258px -143px;}
.w9{background-position: -387px -143px;}
.yx{background: #d2d2d2;overflow: hidden;min-width: 1200px;
    .yxn{width: 1200px;margin: auto;background: url(../images/dn_17.jpg) no-repeat right top;padding: 80px 0;
        h1{font-size: 30px;font-weight: normal;font-family: "宋体";color: #333;}
        p{font-size: 18px;padding: 30px 0;letter-spacing: 5px;}
        a{height: 40px;font-size: 16px;color: $color;padding: 0 30px;display: inline-block;line-height: 40px;margin-right: 10px;border: 1px solid $color;@include hover;
            &:hover{background: $color;color: #fff;}
        }
        span{font-size: 18px;display: inline-block;color: $color;line-height: 40px;}
    }
}
.ys{width:128px;height: 32px;display:block;border: 1px solid #a8a8a8;color: #a8a8a8;text-align: center;line-height: 32px;margin: 65px 85px;@include hover;float:left; 
    &:hover{border: 1px solid $color;background: $color;color: #fff;}
}
.bp{font-size: 24px;color: $color;padding-bottom: 10px;}
.bp1{color: $color;padding-bottom: 100px;}

 
//内页左侧导航
.n-tab-left{width: $n-left;
    ul{
        li{width: 100%;border-bottom: 1px solid #fff;position: relative;background: #fff;
            a{display: block;width: 100%;height: 43px;line-height: 43px;text-align: center;font-size: 15px;} 
            i{@include triangle-right(11px,1.2,#e5e2e2);position: absolute;z-index: 1;top:12px ;left: 27px;} 
            &:hover{background: $color;
                a{color: #fff;}
            }     
        }
    }
}

//点击滚动
.gd{width:100%;height:auto;overflow:hidden;position:relative;}
.gd_prev{height: 123px; font-size: 123px;line-height: 123px;position: absolute;top: 50%;left: 0;z-index: 9;font-family: "宋体";color: #aaa;cursor: pointer;margin-top: -61px;}
.gd_next{height: 123px; font-size: 123px;line-height: 123px;position: absolute;top: 50%;right: 0;z-index: 9;font-family: "宋体";color: #aaa;cursor: pointer;margin-top: -61px;}
.gd_main{width:10000px;overflow:hidden;position:relative;z-index:1;
   .gd_main_div{width: $width;float: left;overflow: hidden;
       h1{text-align: center;font-size: 36px;font-weight: normal;line-height: 40px;}
       h2{font-size: 18px;color: $color;text-align: center;@include en}
       .n_p1{text-align: center;font-size: 18px;}
       .n_p2{text-align: center;font-size: 10px;}
       .n_p3{font-size: 14px;line-height: 24px;padding:50px 124px;}
   }
}
.gd_main_a2{width:100%;height:25px;text-align:center;line-height:25px;background: #d6d6d6;display: block}
//首页下方新闻资讯
.news{width:($width - 30px)/3;float: left;
    ul{padding-top: 10px;
        li{width: 100%;overflow: hidden;font-size: 14px;line-height: 28px;height: 28px;
            i{width: 4px;float: left;height: 4px;background:#444444;border-radius: 4px;margin: 14px 6px 0 5px;}
            a{float: left;width: 70%;@include overflow;}
            span{float: right;font-size: 12px;color: #777;}
            &:hover i{background: $color;}
        }
    }
}

//友情链接
.link{width:$width - 2px;border: 1px solid #d6d6d6;margin:10px auto;overflow: hidden;padding: 10px 0;
    a{width: 120px;display: block;float: left;padding: 5px 0 5px 10px;}
}
.link:before{text-align: center;width:$left;height: 100px;content:"友情链接";float: left;line-height: 100px;font-size: 16px;border-right: 1px solid #d6d6d6;}
//底部样式
.bottom{width: 100%;padding: 40px 0;overflow: hidden;background: #333;min-width: $width;}
.bot1{padding:0 70px;float: left;
    ul{padding-top: 10px;
        li{line-height: 28px;
            a{color: #a3a3a3;
                &:hover{color: $color;text-decoration: underline;}
            }
        }
    }
}
.ewm{width: 130px;float: right;padding: 0 10px;
    img{width: 100%;}
    p{text-align: center;color: #bbb;}
}
.bottom1{width: 100%;padding: 10px 0;overflow: hidden;background: #242424;min-width: $width;z-index: 9;position: relative;
    .bot-p1{text-align: center;color: #a3a3a3;}
}
.cnzz{text-align: center;line-height: 0;line-height: 20px;float: right;position: absolute;bottom: 0;right: 0;
    a{height: 20px;display: inline-block;vertical-align:text-top;
        i{float: left;width: 20px;}
        span{height: 20px;display: inline-block;line-height: 20px;}
    }   
}

.qq{position: fixed;top: 50%;right: 0;overflow: hidden;margin-top: -150px;display: none;}
.dj{width: 45px;float: left;cursor: pointer;}
.qqn{border-left: 2px solid $color;border-bottom:1px solid #d6d6d6;border-top:1px solid #d6d6d6;float: left;padding:10px;width: 200px;background: #fff;z-index: 9999;
    p{font-size: 14px;text-align: center;padding-bottom: 25px;}
}
.qqn1{display: block;padding-left: 20px;padding-bottom: 10px;
    i{display: inline-block;color: $color;font-size: 20px;}
    span{padding-left: 20px;color: $color;}
    .r-ewm{padding-right: 20px;padding-top: 10px;display: none;
        img{width: 100%;}
    }
}
.r-d{border-top:1px solid #d6d6d6 ;background: url(../images/logo-r_13.jpg) no-repeat 10px center;padding-top: 10px;padding-left: 50px;line-height: 20px;padding-bottom: 10px;
    span{width: 40px;display: inline-block;line-height: 15px;}
}
.top{margin: auto;border: 2px solid $color;width: 200px;height: 40px;line-height: 40px;text-align: center;font-size: 18px;font-weight: 500;letter-spacing:10px;margin-bottom: 40px;color: $color;cursor: pointer;
}
.jb{width: 0;height: 2px;background: $color;@include hover(1s);position: absolute;top: 0;left: 0;}
  
//case
.case1{float: left;background: #059fda;color: #fff;text-align: center;padding: 66px 0;width: 140px;height: 133px;
    span{font-size:76px;border-bottom: 1px solid #fff;display: inline-block;line-height: 80px;font-family: "宋体";}
    p{font-size: 16px;padding-top: 5px;}
}
.case2{width: 490px;padding-left: 35px;float: left;
    h2{font-size: 16px;color: #333;line-height: 32px;font-weight: normal;}
    p{font-size: 14px;line-height: 24px;
        &:hover{color: #444;}
    }
    &:hover{color: #444;}
}
.case3{width: 475px;overflow: hidden;padding: 10px;border: 1px solid #d3d3d3;background: #eee;float: right;
    img{display: block;width: 100%;}
    &:hover{color: #444;}
}
//about
.n_fd1{position: absolute;top: 50%;margin-top: -200px;left: 50%;margin-left:-($width / 2);}
.n_fd2{position: absolute;top: 50%;margin-top: -200px;left: 50%;margin-left:-($width / 2);}
.n_fd3{position: absolute;top: 50%;margin-top: -206px;left: 50%;margin-left:-500px;width: 1000px;height: 412px;background: url(../images/lcd.png) no-repeat center;}
.a_center{text-align: center;
    h1{text-align: center;font-size: 36px;font-weight: normal;line-height: 36px;}
       h2{font-size: 18px;color: $color;text-align: center;@include en}
       .n_p1{text-align: center;font-size: 18px;}
       .n_p2{text-align: center;font-size: 10px;}
       .n_p3{font-size: 14px;line-height: 24px;padding:50px 124px;}
}
.lc{background: url(../images/lc_02.jpg) no-repeat center top;height: 100%;position: relative;}
.par{border: 1px solid $color;color: $color;text-align: center;display: block;width: 150px;height: 43px;line-height: 43px;border-radius: 5px;@include hover;
    &:hover{color: #fff;background: $color;}
}
.bg11{position: absolute;left: 50%; opacity: 0; transition: all 1s;margin-left:-($width / 2);width: $width;overflow: hidden;top:50%;margin-top: -240px;}
.bg21{opacity: 0;transition: all 1s;width: 1090px;position: absolute;left: 50%;margin-left: -545px;top: 50%;margin-top: 100px;}
.bg211{width: 660px;margin: 0 auto 42px;height: 50px;
        ul{
            li{height: 50px;line-height: 50px;background: #fff;width: 180px;margin: 0 20px;float: left;text-align: center;font-size: 16px;border-radius: 3px;}
            li.this{background: $color;color: #fff;}
        }
    }
    .bg212{width: 100%;overflow: hidden;
        .bg212-w{width: 10000px;}
        .bg212-con{width: 1090px;float: left;overflow: hidden;
            .div1{background: #fff;width: 530px;overflow: hidden;height: 160px;overflow: hidden;margin-bottom: 25px;padding-top: 10px;
               img{width: 186px;float: left;margin-left: 35px;} 
               div{float: right;width: 270px;padding-right: 13px;padding-bottom: 40px;position: relative;
                    p{font-size: 14px;line-height: 24px;}
                    span{color: $color;}
                    a{height: 36px;width: 36px;background: #5f5f5f;color: #fff;text-align: center;line-height: 36px;display: block;position: absolute;bottom: 0;right: 0;}
               }
            }
            
        }
    }
.bg22{position: absolute;left: 50%; opacity: 0; transition: all 1s;top: 0;margin-left:-($width / 2);width: $width;overflow: hidden;}
.bg31{opacity: 0;transition: all 1s;width: 465px;height: 186px;background: url(../images/lc1.png) no-repeat left top;padding: 20px 0 0 20px;position: absolute;left: 50%;margin-left: -595px;top: 50%;margin-top: -326px;
    img{width: 183px;height: 157px;float: left;}
    div{float: left;padding-left: 20px;padding-top: 20px;
        h2{font-size: 24px;color: $color;}
        p{font-size: 14px;width: 210px;line-height: 24px;}
    }
}
.bg32{opacity: 0;transition: all 1s;width: 465px;height: 186px;background: url(../images/lc2.png) no-repeat right top;padding: 20px 20px 0 0;right: 50%;margin-right: -595px;top: 50%;margin-top: -326px;position: absolute;
    img{width: 183px;height: 157px;float: right;}
    div{float: right;padding-right: 20px;padding-top: 20px;
        h2{font-size: 24px;color: $color;}
        p{font-size: 14px;width: 210px;line-height: 24px;}
    }
}
.bg33{opacity: 0;transition: all 1s;width: 465px;height: 176px;background: url(../images/lc3.png) no-repeat left top;padding: 30px 0 0 20px;position: absolute;left: 50%;margin-left: -595px;top: 50%;margin-top:80px;
     img{width: 183px;height: 157px;float: left;}
    div{float: left;padding-left: 20px;padding-top: 40px;
        h2{font-size: 24px;color: $color;}
        p{font-size: 14px;width: 210px;line-height: 24px;}
    }
}
.bg34{opacity: 0;transition: all 1s;width: 465px;height: 176px;background: url(../images/lc4.png) no-repeat right top;padding: 30px 20px 0 0;right: 50%;margin-right: -595px;top: 50%;margin-top: 80px;position: absolute;
    img{width: 183px;height: 157px;float: right;}
    div{float: right;padding-right: 20px;padding-top: 40px;
        h2{font-size: 24px;color: $color;}
        p{font-size: 14px;width: 210px;line-height: 24px;}
    }
}
.bg35{opacity: 0; transition: all 1s;width: 300px;height: 300px;margin-top: -170px;margin-left: -150px;background-image: url(../images/lcd.png);background-position:center;background-size:cover;position: absolute;top: 50%;left: 50%;}
.bg41{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -830px;top: 50%;margin-top: -110px;
    img{width: 100%;}
}
.bg42{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -310px;top: 50%;margin-top: -110px;
    img{width: 100%;}
}
.bg43{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -310px;top: 50%;margin-top: -110px;
    img{width: 100%;}
}
.bg44{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -830px;top: 50%;margin-top: -110px;
    img{width: 100%;}
}
.bg45{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -830px;top: 50%;margin-top: 70px;
    img{width: 100%;}
}
.bg46{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -310px;top: 50%;margin-top:70px;
    img{width: 100%;}
}
.bg47{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -310px;top: 50%;margin-top: 70px;
    img{width: 100%;}
}
.bg48{opacity: 0; transition: all 1s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -830px;top: 50%;margin-top: 70px;
    img{width: 100%;}
}
.bg51, .bg52, .bg53 { font-size: 14px;}
.bg51 { position: absolute; left: 50%; top: 50%;margin-top: -80px; width: 398px; margin-left: -970px; opacity: 0; transition: all 1s;}
.bg51 p { position: relative;left: 0; padding:20px 15px;background: #fff;}
.bg52 { position: absolute; left: 50%; top: 50%;margin-top: -80px; width: 398px; margin-left: -199px; opacity: 0; transition: all 1s;}
.bg52 p { position: relative; left: 0; padding:20px 15px;background: #fff;}
.bg53 { position: absolute; left: 50%; top: 50%;margin-top: -80px; width: 398px; margin-left: 630px; opacity: 0; transition: all 1s;}
.bg53 p { position: relative;left: 0; padding:20px 15px;background: #fff;}
.bg54{position: absolute;left: 50%; opacity: 0; transition: all 1s;top: 100px;margin-left:-($width / 2);width: $width;overflow: hidden;}
.bg61{position: absolute;left: 50%; opacity: 0; transition: all 1s;width: 800px;margin-left: -400px;top:50%;margin-top: -20px;}
.bg62{position: absolute;left: 50%; opacity: 0; transition: all 1s;bottom: 0;margin-left:-75px;}
.bg63{position: absolute;left: 50%; opacity: 0; transition: all 1s;top: 0;margin-left:-($width / 2);width: $width;overflow: hidden;}
.active .bg11{opacity: 1;transition-delay: 0.8s;margin-left:-($width / 2);top:50%;margin-top: -240px;overflow: hidden;width: $width;}
.active .bg21{opacity: 1;transition-delay: 0.8s;top: 50%;margin-top: -100px;}
.active .bg22 {opacity: 1;transition-delay: 0.8s;margin-left:-($width / 2);top:50%;margin-top: -300px;}
.active .bg31{opacity: 1;transition-delay: 0.8s;left: 50%;margin-left: -495px;top: 50%;margin-top: -226px;}
.active .bg32{opacity: 1;transition-delay: 0.8s;right: 50%;margin-right: -495px;top: 50%;margin-top: -226px;}
.active .bg33{opacity: 1;transition-delay: 0.8s;left: 50%;margin-left: -495px;top: 50%;margin-top:-20px;}
.active .bg34{opacity: 1;transition-delay: 0.8s;right: 50%;margin-right: -495px;top: 50%;margin-top: -20px;}
.active .bg35{opacity: 1;transition-delay: 0.8s;width: 242px;height: 242px;margin-left: -121px;margin-top: -141px;}
.active .bg41{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -530px;top: 50%;margin-top: -110px;}
.active .bg42{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -260px;top: 50%;margin-top: -110px;}
.active .bg43{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -260px;top: 50%;margin-top: -110px;}
.active .bg44{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -530px;top: 50%;margin-top: -110px;}
.active .bg45{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -530px;top: 50%;margin-top: 70px;}
.active .bg46{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;left: 50%;margin-left: -260px;top: 50%;margin-top:70px;}
.active .bg47{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -260px;top: 50%;margin-top: 70px;}
.active .bg48{opacity: 1;transition-delay: 0.8s;position: absolute;width: 250px;height: 170px;overflow: hidden;right: 50%;margin-right: -530px;top: 50%;margin-top: 70px;}
.active .bg51 {margin-left: -630px;opacity: 1;transition-delay: 0.7s;}
.active .bg52 {opacity: 1;transition-delay: 0.8s;}
.active .bg53 {margin-left: 230px;opacity: 1;transition-delay: 0.7s;}
.active .bg54 {opacity: 1;transition-delay: 0.8s;margin-left:-($width / 2);top:50%;margin-top: -230px;}
.active .bg61 {opacity: 1;transition-delay: 0.8s;width: 1099px;margin-left:-550px;top:50%;margin-top: -30px;}
.active .bg62 {opacity: 1;transition-delay: 0.8s;margin-left:-75px;bottom: 50%;margin-bottom: -230px;}
.active .bg63 {opacity: 1;transition-delay: 0.8s;margin-left:-($width / 2);top:50%;margin-top: -230px;}
#fullPage-nav {
                _display: none;
                font-size: 12px;
            }
            
            #fullPage-nav li {
                width: 90px;
                height: 21px;
                margin: 10px 0 0;
                vertical-align: middle;
            }
            
            #fullPage-nav li a {
                float: right;
                width: 12px;
                height: 12px;
                color: #8F9DA4;
                text-decoration: none;
                text-align: right;
            }
            
            #fullPage-nav li .active {
                background: #059fda;
                border: 1px solid #059fda;
            }
            
            #fullPage-nav span {
                display: none;
            }
            
            .fullPage-tooltip {
                float: left;
                top: 0;
                margin-right: 5px;
                font: 12px "Microsoft Yahei";
                color: #8F9DA4;
                line-height: 21px;
            }
            
            .section {
                position: relative;
                overflow: hidden;
            }
            
            .section .bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            
            .section .bg img {
                display: block;
                width: 100%;
                height: 100%;
            }
//web
.ws{float: left;width: 270px;float: left;margin-right: 40px;margin-top: 70px;margin-bottom: 70px;
    h2{font-size: 16px;font-weight: normal;padding-top: 15px;}
    p{padding: 8px 0 10px;}
}
.web-zz{width: 285px;float: left;margin-right: 20px;margin-bottom: 20px;overflow: hidden;height: 195px;
    img{width: 100%;}
}
.web-con{width: 1090px;float: left;overflow: hidden;
    .div1{background: #fff;width: 530px;overflow: hidden;height: 160px;overflow: hidden;margin-bottom: 25px;padding-top: 10px;
        img{width: 186px;float: left;margin-left: 35px;} 
        div{float: right;width: 270px;padding-right: 13px;padding-bottom: 40px;position: relative;
            p{font-size: 14px;line-height: 24px;}
            span{color: $color;}
            a{height: 36px;width: 36px;background: #5f5f5f;color: #fff;text-align: center;line-height: 36px;display: block;position: absolute;bottom: 0;right: 0;}
        }
    }           
}
//推广
.sh{width: 500px;float: right;background: url(../images/sh_05.jpg) no-repeat left top;padding-top: 10px;
    div{padding: 40px 0 40px 105px;
        h2{font-size: 18px;line-height: 24px;padding-bottom: 10px;
            span{color: $color;font-size: 24px;}
        }
        p{font-size: 16px;line-height: 24px;}
    }
}
.fw{
    div{position: relative;}
    span{font-size: 60px;color: $color;line-height: 60px;position: absolute;top: 30px;}
    p{text-align: center;font-size: 18px;line-height: 30px;position: relative;padding: 40px 0 60px;}
}
.rc{width: 1200px;margin: 60px auto;overflow: hidden;
    div{float: left;width: 402px;padding: 80px 70px 0 128px;height: 410px;
        .rc1{font-size: 12px;color: $color;@include en}
        .rc2{font-size: 24px;color: $color;line-height: 18px;padding: 15px 0;font-weight: bold;}
        .rc3{font-size: 16px;line-height: 28px;margin-bottom: 15px;}
        a{width: 168px;height: 36px;padding: 0 15px 15px 0;line-height: 36px;text-align: center;color: #fff;display: block;background: url(../images/rc_23.jpg) no-repeat left top;}
    }
    img{float: left;width: 600px;height: 490px;}
}
.cn{width: 260px;padding:70px 20px 60px 0;float: left;text-align: center;
    i{margin: 0 auto;width: 137px;}
    h2{font-size: 18px;padding: 20px 0;}
    p{font-size: 16px;}
}
.hzl{width: 52px;height: 79px;float: left;}
.hzr{height: 79px;width: 1145px;float: right;}
//滚动展示默认宽度为$with宽度，小图片宽度默认为$with宽度的（1/5）-6px
.demo {background: #FFF;overflow:hidden;width: 100%; }
.indemo {float: left;width: 800%; overflow:hidden}
.demo1 {float: left;
    a{ display:block; width:185px;float:left;margin-right:10px; 
        img{margin:0 auto;} 
        span{ float:left; font-size:12px; text-align:center; width:100%} 
    }
}
.demo2 {float: left;
    a{ display:block; width:185px;float:left;margin-right:10px; 
        img{margin:0 auto;} 
        span{ float:left; font-size:12px; text-align:center; width:100%} 
    }
}
//网络诊断
.rh{width: 1300px;padding: 30px 0 40px;overflow: hidden;
    .rh1{width: 353px;float: left;background: #fff;border-radius: 15px;margin: 0 35px 29px 0;padding:15px;overflow: hidden;box-shadow: 2px 2px 6px #bbb;
        i{float: left;border: 1px solid #aaa;width: 84px;}
        div{float: right;width: 248px;padding-bottom: 10px;
            h2{font-size: 18px;font-weight: normal;}
            p{font-size: 14px;line-height: 22px;padding-top: 3px;}
        }
        a{background: url(../images/gd_13.jpg) repeat-y center;height: 25px;width: 101px;display: block;margin: 0 auto 0;clear: both;border-radius: 8px;color: #fff;text-align: center;line-height: 25px;}
    }
}
.wn{width: 378px;height: 216px;position: relative;overflow: hidden;float: left;margin-right: 35px;margin-bottom: 35px;
    div{background: rgba(255,255,255,.9);text-align: center;position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 1;display: none;
        h2{font-size: 24px;font-weight: normal;padding-top:80px;}
        p{font-size: 18px;padding-top: 5px;}
    }
    &:hover{
        div{display: block}
    }
}
.cnn{width: 298px;border-right: 1px solid #d6d6d6;float: left;height: 513px;@include hover;
    .cn1{height: 213px;text-align: center;
        span{font-size: 48px;display: block;padding-top: 60px;}
        h2{font-size: 30px;padding: 20px 0 ;font-weight: normal;}
        p{font-size: 16px;@include en;}
    }
    .cn2{height: 300px;position: relative;text-align: center;
        p{font-size: 18px;padding:80px 20px 0;line-height: 28px;}
        a{position: absolute;left: 50%;margin-left: -50px;width: 100px;bottom: 60px;height: 25px;line-height: 25px;border: 1px solid #d6d6d6;@include hover;color: $color;border-radius: 25px;}
    }
    &:hover{background: url(../images/cn_15.jpg) repeat-x;
        .cn1{color: #fff;}
        .cn2{color: #fff;
            a{background: url(../images/gd_13.jpg) repeat-y center;color: #fff;}
        }
    }
}
//联系我们
.con-l{width: 198px;float: left;
    div{background: url(../images/lx_03.jpg) repeat-y;text-align: center;line-height: 45px;color: #fff;font-size: 18px;}
    ul{
        li{overflow: hidden;border-bottom: 1px dashed #d6d6d6;padding: 20px 0;cursor: pointer;@include hover;
            i{width: 60px;float: left;background-image: url(../images/lx1.jpg);height: 60px;}
            p{font-size: 14px;width: 125px;float: right;line-height: 22px;@include hover;
                span{font-size: 16px;}
            }
            .lx1{background-position: 0 -60px;@include hover;}
            .lx2{background-position: 60px -60px;@include hover;}
            .lx3{background-position: 120px -60px;@include hover;}
            &:hover{border-bottom: 1px dashed $color;
                p{color: $color;}
                .lx1{background-position: 0 0;}
                .lx2{background-position: 60px 0;}
                .lx3{background-position: 120px 0;}
            }
        }
    }
}
.con-r{width: 950px;float: right;
    h1{font-size: 28px;line-height: 38px;}
    h2{font-size: 18px;padding: 10px 0;font-weight: normal;}
    p{font-size: 14px;line-height: 24px;padding-top: 2px;}
}
.rx{padding: 30px 0;border-bottom: 1px solid #d6d6d6;overflow: hidden;
    i{float: left;width: 43px;}
    div{float: left;width: 880px;
        p{font-size: 14px;padding-left: 20px;line-height: 25px;}
        span{padding-right: 100px;font-size: 16px;font-weight: bold;}
    }
}
//首页banner样式 更改banner高度只需更改此文件头部定义$banner函数值
.flexslider {position: relative;width: 100%;height: $banner;overflow: hidden;zoom: 1;margin-bottom: 15px;background: #eee;
    .slides li {width: 100%;height: 100%;
         a{width: 100%;height: $banner;display: block}
    }
}
.flex-direction-nav{
    a {width: 70px;height: 70px;text-align:center;color:#eee;font-size:60px;line-height:70px;font-family:'宋体';overflow: hidden;margin: -35px 0 0;display: block;
      position: absolute;top: 50%;z-index: 10;cursor: pointer;opacity: 0;filter: alpha(opacity=0);-webkit-transition: all .3s ease;}
    .flex-next {right: 0;@include hover;}
    .flex-prev {left: 0;@include hover;}
}
.flexslider:hover{   
    .flex-next {opacity: 0.7;filter: alpha(opacity=70);}
    .flex-prev {opacity: 0.7;filter: alpha(opacity=70);}
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {opacity: 1;filter: alpha(opacity=100);}
.flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;
    li {margin: 0 3px;display: inline-block;zoom: 1;*display: inline;}
}
.flex-control-paging li a {height: 10px;width: 10px;background:#bbb;background:rgba(0,0,0,.3);display: block;overflow: hidden;cursor: pointer;line-height: 99em;@include hover(.3s);}
.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {background:$color;width: 20px;}

//子页新闻列表页下方分页样式
.paging{width: 100%;padding: 20px 0;text-align: center;line-height: 40px;
    a{padding: 3px 10px;font-size: 13px; margin: 0 1px;}
    .active{color: $color;background: #ddd;}
}
.paga{border:1px solid #d6d6d6;color: $color;@include hover;
    &:hover{color: #fff;background: $color;}
}

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1474442059'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1474442059#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1474442059') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1474442059') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1474442059#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e602"; }
.icon-lianjie:before { content: "\e600"; }
.icon-dianhua:before { content: "\e603"; }
.icon-qq:before { content: "\e604"; }
.icon-wujiaoxing-copy:before { content: "\e601"; }

@media screen and(max-width:$width){

}






